---
import { siteConfig } from "@/lib/site";

type Props = {
  url?: string;
  title?: string;
};

const {
  url = siteConfig.calendlyUrl,
  title = "Reservation d un diagnostic Objectif B2 Espagnol"
} = Astro.props;
---

<div class="surface-card overflow-hidden p-3">
  <iframe
    src={url}
    title={title}
    class="min-h-[680px] w-full rounded-[1.25rem]"
    loading="lazy"
  ></iframe>
</div>
